<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlantic Sturgeon</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Atlantic Sturgeon</h1>
    <h2>Scientific Name: Acipenser oxyrinchus</h2>
    <h5>Federal Status: Federally Endangered</h5>
    <h5>State Status: State Endangered</h5>
</br>
    <h5>WAP Tier: I</h5>
    <h5>WAP Rank: b</h5>
</br>
    <h3>How to help!!</h3>
    <h5>This species is both federally endangered and endangered in the state.</h5>
    <h5>A crucial way to help this fish restpre its habitat so it can live safely.</h5>
    <h5>Another thing you could do is to clean up the ocean to provide adequate passages for travels.</h5>

</body>
</html>