<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackbanded Sunfish</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Blackside dace</h1>
    <h2>Scientific Name: Chrosomus cumberlandensis</h2>
    <h5>Federal Status: Federally Threatened</h5>
    <h5>State Status: State Threatened</h5>
</br>
    <h5>WAP Tier: Not Available</h5>
    <h5>WAP Rank: Not Available</h5>
</br>
    <h3>How to help!!</h3>
    <h5>Habitat degradation caused by strip mining and logging practices mainly
        causes the endangerment of the Black side dace. We must avoid this as much as
        possible in areas where black side dace are populated.</h5>


</body>
</html>