<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackbanded Sunfish</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Blackbanded Sunfish</h1>
    <h2>Scientific Name: Enneacanthus chaetodon</h2>
    <h5>Federal Status: Note Available</h5>
    <h5>State Status: State Endangered</h5>
</br>
    <h5>WAP Tier: I</h5>
    <h5>WAP Rank: a</h5>
</br>
    <h3>How to help!!</h3>
    <h5>Conservation of populations of black-banded sunfish depends upon maintaining habitat
        quality in the Okefenokee Swamp and in other appropriate habitats. Habitat loss through pollution,
        drainage, and hydrologic alteration of Coastal Plain swamps, rivers, and wetlands must be avoided.</h5>

</body>
</html>