<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackbanded Sunfish</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Candy Darter</h1>
    <h2>Scientific Name: Etheostoma osburni</h2>
    <h5>Federal Status: Federally Endangered</h5>
    <h5>State Status: State Endangered</h5>
</br>
    <h5>WAP Tier: I</h5>
    <h5>WAP Rank: b</h5>
</br>
    <h3>How to help!!</h3>
    <h5>We can help the candy darter survive by…
    Dumping unused bait in the trash, rather than in the streams, to prevent the introduction of non-native species into areas where they may cause harm to the aquatic ecosystem.
    Planting trees and other native woody vegetation along streams to stabilize banks and help prevent erosion.
    Maintaining a buffer area with native trees and shrubs along streams to help control erosion and filter pollution and sediment before reaching the stream.
    Disposing of chemical waste products properly to prevent them from contaminating soils and polluting streams.
        Becoming a candy darter advocate by learning more about this colorful species and telling your friends!</h5>


</body>
</html>