<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackbanded Sunfish</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Carolina darter</h1>
    <h2>Scientific Name: Etheostoma collis</h2>
    <h5>Federal Status: Not Available</h5>
    <h5>State Status: State Threatened</h5>
</br>
    <h5>WAP Tier: II</h5>
    <h5>WAP Rank: c</h5>
</br>
    <h3>How to help!!</h3>
    <h5>We can help the conversation of Carolina darter by…
    Using South Carolina Stream Assessment decision-support GIS modeling tools to identify levels and spatial distributions of critical habitat factors to sustain the species ingeographic areas of interest.
    • Using South Carolina Stream Assessment decision-support GIS modeling tools to identify priority regions and watersheds at greatest risk of decline in stream integrity.
    • Protect critical habitats from future development and further habitat degradation by following Best Management Practices and protecting and purchasing riparian areas.
    Supplemental Volume: Species of Conservation Concern SC SWAP 2015
    • Promoting land stewardship practices through educational programs both within critical
    habitats with healthy populations and other areas that contain available habitat.
    • Encouraging responsible land use planning.
    • Considering this species’ needs when participating in the environmental permit review process.
    • Continueing to develop educational materials in order to raise public awareness of nongame
    species and their ecological importance to the natural history of South Carolina’s aquatic
    habitats.
    • Educating motor vehicle operators of the negative effects of crossing streams at multiple locations and using stream bottoms as trails.</h5>

</body>
</html>