<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackbanded Sunfish</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Clinch Dace</h1>
    <h2>Scientific Name: Chrosomus sp. cf. saylori</h2>
    <h5>Federal Status: Not Available</h5>
    <h5>State Status: State Endangered</h5>
</br>
    <h5>WAP Tier: I</h5>
    <h5>WAP Rank: a</h5>
</br>
    <h3>How to help!!</h3>
    <h5>Here are some ways to help conserve this endangered Clinch Dace species:
        Support conservation organizations: There are several organizations working to protect the Clinch Dace and its habitat. Consider supporting them through donations, volunteering, or raising awareness about their efforts.
        Reduce water pollution: Pollution from agricultural and industrial runoff, sewage, and other sources can degrade the water quality and harm the Clinch Dace. Reducing your own water use and pollution, as well as supporting policies that protect water quality, can help reduce this threat.
        Practice responsible fishing: If you are fishing in the Clinch River, follow catch-and-release practices and use the non-lead tackle to reduce the risk of harming the Clinch Dace and other aquatic species.</h5>


</body>
</html>