<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlantic Sturgeon</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Duskytail Darter</h1>
    <h2>Scientific Name: Etheostoma percnurum </h2>
    <h5>Federal Status: Federally Endangered</h5>
    <h5>State Status: State Endangered</h5>
</br>
    <h5>WAP Tier: I</h5>
    <h5>WAP Rank: a</h5>
</br>
    <h3>How to help!!</h3>
    <h5>The duskytail darter is a small freshwater fish species that is currently classified as endangered. Here are some ways that you can help the duskytail darter:
        Learn about the species: Educate yourself about the duskytail darter, its habitat, and the threats it faces. You can find information from organizations such as the U.S. Fish and Wildlife Service or local conservation groups.
        Reduce your environmental impact: One of the biggest threats to the duskytail darter is habitat loss and degradation due to human activities. You can help by reducing your environmental impact. For example, you can reduce your water usage, properly dispose of trash, and choose environmentally friendly products.
        Support conservation efforts: You can support organizations that work to protect the duskytail darter and its habitat. You can donate money or volunteer your time to these organizations.</h5>


</body>
</html>