<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlantic Sturgeon</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Emerald Shiner</h1>
    <h2>Scientific Name: Notropis atherinoides </h2>
    <h5>Federal Status: Not Available</h5>
    <h5>State Status: State Threatened</h5>
</br>
    <h5>WAP Tier: IV</h5>
    <h5>WAP Rank: c</h5>
</br>
    <h3>How to help!!</h3>
    <h5>The emerald shiner is a small fish species that is currently classified as endangered in some areas. Here are some ways that you can help the emerald shiner:
        Learn about the species: Educate yourself about the emerald shiner, its habitat, and the threats it faces. You can find information from organizations such as the U.S. Fish and Wildlife Service or local conservation groups.
        Reduce your environmental impact: One of the biggest threats to the emerald shiner is habitat loss and degradation due to human activities. You can help by reducing your environmental impact. For example, you can reduce your water usage, properly dispose of trash, and choose environmentally friendly products.
        Support conservation efforts: You can support organizations that work to protect the emerald shiner and its habitat. You can donate money or volunteer your time to these organizations.
        Avoid introducing non-native species: Non-native species can harm the emerald shiner and its habitat. You can help by not releasing non-native species into the wild and by properly disposing of aquarium plants and animals.</h5>


</body>
</html>