<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlantic Sturgeon</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Golden Darter</h1>
    <h2>Scientific Name: Etheostoma denoncourti</h2>
    <h5>Federal Status: Not Available</h5>
    <h5>State Status: State Threatened</h5>
</br>
    <h5>WAP Tier: II</h5>
    <h5>WAP Rank: b</h5>
</br>
    <h3>How to help!!</h3>
    <h5>The Golden darter is a small, freshwater fish species that is classified as endangered due to habitat destruction and degradation, pollution, and overfishing. Here are some ways to help protect and conserve this species:
        Support conservation organizations: There are many organizations that work to protect endangered species and their habitats. Consider donating to or volunteering with organizations such as The Nature Conservancy, World Wildlife Fund, or the IUCN Red List.
        Reduce pollution: Pollution is a major threat to the Golden darter and other freshwater species. You can reduce your contribution to pollution by properly disposing of hazardous materials, using environmentally-friendly products, and reducing your use of single-use plastics.
        Support sustainable fishing practices: Overfishing is a significant threat to the Golden darter. You can help by supporting sustainable fishing practices, such as catch and release, or choosing seafood that is sustainably sourced.
        Protect and restore habitats: The destruction and degradation of aquatic habitats is a major threat to the Golden darter. You can help by supporting efforts to protect and restore habitats, such as wetlands, rivers, and streams.</h5>


</body>
</html>