<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atlantic Sturgeon</title>
    <link href="../static/fish.css" rel="stylesheet">


</head>
<body>
    <h1>Greenfin Darter</h1>
    <h2>Scientific Name: Etheostoma chlorobranchium</h2>
    <h5>Federal Status: Not Available</h5>
    <h5>State Status: State Threatened</h5>
</br>
    <h5>WAP Tier: I</h5>
    <h5>WAP Rank: b</h5>
</br>
    <h3>How to help!!</h3>
    <h5>Conserving populations of the greenfin darter in Georgia will require maintaining and improving
        habitat quality in the Little Tennessee River system by eliminating sediment runoff from
        land-disturbing activities such as roadway and housing construction, maintaining and restoring forested
        buffers along stream banks, eliminating inputs of contaminants such as fertilizers and pesticides, and
        maintaining natural patterns of streamflow.</h5>


</body>
</html>